
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

table {
    margin: 0 auto;
    border-collapse: separate;
    width: 50%;
    border-spacing: 1vw;
}

th {
    border-bottom: 1px solid black;
    padding: 10px;
    margin: 2px;
}
td{
    margin: 0.1vw;
    padding: 1vw;
}

.correct {
    background-color: green;
    color: white;
}

.wrong {
    background-color: red;
    color: white;
}

